@model Vehical_Workshop_Automation.Models.ServiceList
@{
    ViewBag.Title = "ServicesList";
    Layout = "~/Views/Shared/_SurveyorLayout.cshtml";
}
<h2 class="ml-3">Select Services Of Vehicle</h2>
<span class="ml-3 mt-1" style="color:red;">@ViewBag.Error</span>
@using (Html.BeginForm("SaveSuggestion", "Surveyor", FormMethod.Post))
{
    <h3 class="text-red ml-3 my-3">Body</h3>
    for (int i = 0; i < Model.Services.Count; i++)
    {
        if (Model.Services[i].Type == "Body")
        {

            if (Model.Services[i].Selected)
            {
                <div class="d-flex bg-red mt-3 ml-5 mr-5">
                    <div class="p-2 ml-5">@Html.CheckBoxFor(m => Model.Services[i].Selected, new { disabled = true }) @Model.Services[i].Name</div>
                    <div class="ml-auto p-2 mr-5">@Html.DisplayFor(m => Model.Services[i].Estimate) pkr</div>
                    @Html.HiddenFor(m => Model.Services[i].Name)
                    @Html.HiddenFor(m => Model.Services[i].Duration)
                    @Html.HiddenFor(m => Model.Services[i].Estimate)
                    @Html.HiddenFor(m => Model.Services[i].Type)
                    @Html.HiddenFor(m => Model.Services[i].id)
                </div>
            }
            else
            {
                <div class="d-flex bg-gradient-white mt-3 ml-5 mr-5">
                    <div class="p-2 ml-5">@Html.CheckBoxFor(m => Model.Services[i].Selected) @Model.Services[i].Name</div>
                    <div class="ml-auto p-2 mr-5">@Html.DisplayFor(m => Model.Services[i].Estimate) pkr</div>
                    @Html.HiddenFor(m => Model.Services[i].Name)
                    @Html.HiddenFor(m => Model.Services[i].Duration)
                    @Html.HiddenFor(m => Model.Services[i].Estimate)
                    @Html.HiddenFor(m => Model.Services[i].Type)
                    @Html.HiddenFor(m => Model.Services[i].id)
                </div>

            }

        }
    }

    <h3 class="text-red ml-3 my-3">Mechanical</h3>
    for (int i = 0; i < Model.Services.Count; i++)
    {
        if (Model.Services[i].Type == "Mechanical")
        {
            if (Model.Services[i].Selected)
            {
                <div class="d-flex bg-red mt-3 ml-5 mr-5">
                    <div class="p-2 ml-5">@Html.CheckBoxFor(m => Model.Services[i].Selected, new { disabled = true }) @Model.Services[i].Name</div>
                    <div class="ml-auto p-2 mr-5">@Html.DisplayFor(m => Model.Services[i].Estimate) pkr</div>
                    @Html.HiddenFor(m => Model.Services[i].Name)
                    @Html.HiddenFor(m => Model.Services[i].Duration)
                    @Html.HiddenFor(m => Model.Services[i].Estimate)
                    @Html.HiddenFor(m => Model.Services[i].Type)
                    @Html.HiddenFor(m => Model.Services[i].id)
                </div>
            }
            else
            {
                <div class="d-flex bg-gradient-white mt-3 ml-5 mr-5">
                    <div class="p-2 ml-5">@Html.CheckBoxFor(m => Model.Services[i].Selected) @Model.Services[i].Name</div>
                    <div class="ml-auto p-2 mr-5">@Html.DisplayFor(m => Model.Services[i].Estimate) pkr</div>
                    @Html.HiddenFor(m => Model.Services[i].Name)
                    @Html.HiddenFor(m => Model.Services[i].Duration)
                    @Html.HiddenFor(m => Model.Services[i].Estimate)
                    @Html.HiddenFor(m => Model.Services[i].Type)
                    @Html.HiddenFor(m => Model.Services[i].id)
                </div>

            }
        }
    }

    <h3 class="text-red ml-3 my-3">Electrical</h3>
    for (int i = 0; i < Model.Services.Count; i++)
    {
        if (Model.Services[i].Type == "Electrical")
        {
            if (Model.Services[i].Selected)
            {
                <div class="d-flex bg-red mt-3 ml-5 mr-5">
                    <div class="p-2 ml-5">@Html.CheckBoxFor(m => Model.Services[i].Selected, new { disabled = true }) @Model.Services[i].Name</div>
                    <div class="ml-auto p-2 mr-5">@Html.DisplayFor(m => Model.Services[i].Estimate) pkr</div>
                    @Html.HiddenFor(m => Model.Services[i].Name)
                    @Html.HiddenFor(m => Model.Services[i].Duration)
                    @Html.HiddenFor(m => Model.Services[i].Estimate)
                    @Html.HiddenFor(m => Model.Services[i].Type)
                    @Html.HiddenFor(m => Model.Services[i].id)
                </div>
            }
            else
            {
                <div class="d-flex bg-gradient-white mt-3 ml-5 mr-5">
                    <div class="p-2 ml-5">@Html.CheckBoxFor(m => Model.Services[i].Selected) @Model.Services[i].Name</div>
                    <div class="ml-auto p-2 mr-5">@Html.DisplayFor(m => Model.Services[i].Estimate) pkr</div>
                    @Html.HiddenFor(m => Model.Services[i].Name)
                    @Html.HiddenFor(m => Model.Services[i].Duration)
                    @Html.HiddenFor(m => Model.Services[i].Estimate)
                    @Html.HiddenFor(m => Model.Services[i].Type)
                    @Html.HiddenFor(m => Model.Services[i].id)
                </div>

            }
        }
    }
    <input type="submit" value="+ Save" class="btn sm btn btn-danger mb-3 ml-3 mt-3" />
}



























@*@model Vehical_Workshop_Automation.Models.ServiceList
    @{
        ViewBag.Title = "Suggestions";
        Layout = "~/Views/Shared/_SurveyorLayout.cshtml";
    }
    <h2 class="text-center">Select Suggestion for Vehicle</h2>
    @using (Html.BeginForm("SaveSuggestion", "Surveyor", FormMethod.Post))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Services.Count; i++)
                {
                <tr style="margin-top:30px;padding:5px">
                    @if (Model.Services[i].Selected)
                    {
                        <td class="bg-red">@Html.CheckBoxFor(m => Model.Services[i].Selected, new { disabled = true }) @Model.Services[i].Name</td>
                        <td class="bg-red">@Html.DisplayFor(m => Model.Services[i].Estimate) pkr</td>

                    }
                    else
                    {
                        <td>@Html.CheckBoxFor(m => Model.Services[i].Selected) @Model.Services[i].Name</td>
                        <td>@Html.DisplayFor(m => Model.Services[i].Estimate) pkr</td>
                    }
                    @Html.HiddenFor(m => Model.Services[i].Name)
                    @Html.HiddenFor(m => Model.Services[i].Duration)
                    @Html.HiddenFor(m => Model.Services[i].Estimate)
                    @Html.HiddenFor(m => Model.Services[i].Type)
                    @Html.HiddenFor(m => Model.Services[i].id)
                </tr>
                }

            </tbody>
        </table>
        <input type="submit" value="+ Suggest" class="btn sm btn-success mb-3 ml-3" />
    }*@

