@model IEnumerable<Vehical_Workshop_Automation.Models.Admin>

@{
    ViewBag.Title = "AdminList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="ml-3">Admin List</h2>

<p class="ml-3">
    <a href="~/Admin/AddAdmin" class="btn btn-outline-primary"> Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>Edit/Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "AddAdmin", new { id=item.Id,item.Name,item.Email,item.Mobile_No },new {@class="btn btn-primary" }) |
            @Html.ActionLink("Delete", "DeleteAdmin", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
